<!DOCTYPE html>
<html  lang="ko">
<head>

    <meta charset="UTF-8">
    <title>게시판 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>
<body>

    <header id="header">
        헤더 삽입부
        <hr>
    </header>

    <main id="article-main" class="container">
        <header id="article-header" class="py-5 text-center">
            <h1>첫번째 글</h1>
        </header>

    <div class="row g-5">
       <section class="col-md-5 col-lg-4 order-md-last">
            <aside>
                <p><span id="nickname">john</span></p>
                <p><a id="email" href="mailto:tmdgns4029@naver.com" rel="me">tmdgns4029@naver.com</a></p>
                <p><time id="created-at" datetime="2023-11-27T00:00:00">2023-11-27</time></p>
                <p><span id="hashtag">#java</span></p>
            </aside>
       </section>

        <article id="article-content" class="col-md-7 col-lg-8">
            <pre>본문<br><br></pre>
        </article>
    </div>


            <div class="row g-5">
                <section>
                <form class="row g-3 comment-form">
                    <input type="hidden" class="article-id">
                    <div class="col-md-9 col-lg-8">
                        <label for="comment-textbox" hidden>댓글</label>
                        <textarea class="form-control comment-textbox" id="comment-textbox" placeholder="댓글 쓰기.." rows="3" required></textarea>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <label for="comment-submit" hidden>댓글 쓰기</label>
                        <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
                    </div>
                </form>

                <ul id="article-comments" class="row col-7">
                    <li>
                        <div>
                            <strong>john</strong>
                            <small><time>2023-11-27</time></small>
                            <p>
                                Ratification of the treaty took place in the Senate yesterday.<br>
                                Congress authorizes the government to tax the people.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>john</strong>
                            <small><time>2023-11-28</time></small>
                            <p>
                                He took an unbending position against my proposal. <br>
                                The proposal was received without any dissent.
                            </p>
                        </div>
                    </li>
                </ul>

                </section>
            </div>

        <div class="row g-5">
            <nav id="pagination" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo; prev</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">next &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </main>


    <footer id="footer">
        <hr>
        푸터 삽입부
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>